.success {
    position: absolute;
    max-inline-size: 735px;
    block-size: 424px;
    background-color: var(--clr-white);
    z-index: 1;
    padding: 30px;
    display: grid;
    grid-template-rows: 85px 83px 68px 1fr;
    align-items: flex-start;
    justify-items: center;
    border-radius: 8px;

    svg{
        fill: var(--clr-yellow);
    }

    h4 {
        font-size: 40px;
        line-height: var(--lh-special);
        font-weight: 500;
        color: var(--clr-black);
    }

    p {
        font-size: 20px;
        line-height: var(--lh-special);
        font-weight: 300;
        color: var(--clr-dark-blue);
    }

    a {
        justify-self: flex-end;
    }
}

@media only screen and (max-width: 50em){
    .success{
        inline-size: calc(100vw - 30px);

        h4{
            font-size: clamp(20px,3vw, 40px);
        }
        p{
            font-size: clamp(16px,2.8vw, 20px);
            max-width: 28ch;
            text-align: center;
        }
    }
}
