

    .dropdown {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;

        .content {
            position: relative;
            inline-size: 100%;
            padding-block: 2rem;



            .select {
                block-size: 30px;
                inline-size: 100%;
                padding: 0;
                font-size: 16px;
                display: flex;
                justify-content: center;
            }

            .offscreen {
                display: none;
            }

            .visible {
                display: grid;
                row-gap: 10px;
                inline-size: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--clr-white);
                grid-template-columns: max-content;
                padding: 20px;
                z-index: 1;
                border: 1px solid black;
                border-radius: 10px;

                & input {
                    display: none;

                    &:checked + label {
                        background-color: var(--clr-yellow);
                        color: var(--clr-dark-blue);
                    }
                }

                label {
                    padding: 5px;
                    border-radius: 10px;
                }
            }
        }

        .result {
            display: grid;
            row-gap: 10px;

            & p{
                border-radius: 10px;
                padding-inline: 5px;
            }
            & p:nth-child(2n) {
                background-color: var(--clr-blue);
            }
            & p:nth-child(2n+1){
                background-color: var(--clr-green);
            }
        }
    }

