@import '../../../styles/mixins';

.button {
    @include primary-button;
    inline-size: 39px;
    block-size: 39px;
    border-radius: 50%;

    svg {
        inline-size: 8px;
        block-size: 15px;
    }
}
