@import '../../../styles/mixins';

.button-open {
    @include primary-button;
    background-color: #FFCA65;
    inline-size: 32px;
    block-size: 32px;
    border-radius: 50%;
    padding: 0;


    svg {
        inline-size: 4px;
        block-size: 8px;
        fill: var(--clr-dark-blue);
        transform: rotate(-90deg);
    }
}
.button{
    @extend .button-open;

    svg{
        transform: rotate(90deg);
    }
}