.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 10px;
    padding-inline: 15px;
    background-color: var(--clr-light-grey);
    max-inline-size: var(--max-width);
    margin-inline: auto;
    
    
}