.admin-panel {
    section {
        form{
            display: grid;
            max-inline-size: 600px;
            margin-inline: auto;
            row-gap: 15px;
            
            margin-block: 15px 30px;

            div{
                display: grid;
                grid-template-columns: 1fr 3fr;

            }
            input, select{
                block-size: 40px;
            }
            textarea{
                resize: none;
                block-size: 100px;
            }
        }
        article {
            display: grid;
            grid-template-columns: 1fr 2fr 6fr repeat(3, 1fr) max-content;
            margin-block-end: 10px;

            img{
                max-inline-size: 100%;
                block-size: auto;
                aspect-ratio: 4/3;
                object-fit: contain;
            }
        }
    }
}
