.textarea {
    block-size: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;

    label {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        color: var(--clr-black);
    }


    textarea {
        resize: none;
        border-radius: 10px;
        padding-inline: 10px 20px;
        font-size: 20px;
    }
}
