.icon {
    display: flex;
    justify-self: flex-start;

    svg {
        block-size: 16px;
        inline-size: 16px;
    }


    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3;
    }
}
