.counter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    block-size: 23px;
    inline-size: 113px;
    text-align: center;
    align-items: center;

    button {
        padding: 4px 14px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border: none;
        border-radius: 80px;
    }
}
