.form {
    position: relative;
    
    inline-size: clamp(6rem, 18.78vw, 16.437rem);
    block-size: 59px;

    & input {
        block-size: 100%;
        inline-size: 100%;
        border-radius: 79px;
        border: none;
        background-color: var(--clr-grey);
        padding-inline-start: 20px;
    }

    & button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        border: none;
        height: 39px;
        aspect-ratio: 1/1;

        svg {
            height: 18.35px;
            aspect-ratio: 1/1;
            stroke: white;
        }
    }
}
