.form {
    position: relative;

    & input {
        aspect-ratio: 263/59;
        block-size: 100%;
        border-radius: 79px;
        border: none;
        background-color: var(--clr-grey);
        padding-inline-start: 20px;
        inline-size: clamp(6rem, 18.78vw, 16.437rem);
    }

    & button{
        position: absolute;
        top: calc(50% - 39px / 2);
        right: 10px;
        border: none;
        height: 39px;
        aspect-ratio: 1/1;

        svg{
            height: 18.35px;
            aspect-ratio: 1/1;
            stroke: white;
        }
    }
}
