@import '_reset';
@import '_colors';
@import '_typography';

:root {

    @each $color, $value in $colors {
        --clr-#{$color}: #{$value};
    }

    --max-width: 1370px;
}

main {
    max-inline-size: var(--max-width);
    margin-inline: auto;
}


@media only screen and (max-width: 1370px) {
    main {
        padding-inline: 15px;
    }
}
