.container {
    position: relative;
    inline-size: 282px;
    block-size: 59px;

    .input {
        inline-size: 100%;
        block-size: 100%;
        padding: 13px 10px 13px 20px;
        border-radius: 80px;
        border: none;
    }

    button {
        position: absolute;
        top: calc(50%);
        transform: translateY(-50%);
        right: 10px;
    }
}
