.button {
    inline-size: 50px;
    aspect-ratio: 1/1;
    background-color: var(--clr-yellow);
    border: none;
    border-radius: 50%;

    svg {
        height: 20px;
        aspect-ratio: 1/1;
    }
}
