.filter {
    display: grid;
    grid-auto-flow: column;
    font-size: 14px;
    column-gap: 11px;

    & .item {
        cursor: pointer;

        label {
            block-size: 70px;
            border-radius: 10px;
            display: grid;
            align-content: center;
            justify-items: center;
            padding: 10px;
        }

        input:checked + label {
            color: white;
            background-color: orange;
        }

        input {
            display: none;
        }
    }
}
