.button {
    
    inline-size: 39px;
    block-size: 39px;
    border-radius: 50%;
    border: none;
    display: inline-grid;
    place-content: center;

    svg {
        
        inline-size: 100%;
        block-size: 100%;
        
    }
    
}
