.button {
    border: none;
    aspect-ratio: 1/1;
    block-size: 100%;
    background-color: white;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;

    svg {
        block-size: 24px;
        inline-size: 24px;
    }
}
