.page{
    display: grid;
    grid-template-columns: 238px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'sort sort' 'filter-top filter-top' 'filter-aside catalog';
    max-inline-size: var(--max-width);
    margin-inline: auto;
    column-gap: 108px;
    row-gap: 30px;
    

    .filterTop{
        grid-area: filter-top;
    }
    .filterAside{
        grid-area: filter-aside;
    }

    .catalog{
        grid-area: catalog;
    }
    .sort{
        grid-area: sort;
        display: flex;
        justify-content: space-between;
        padding-inline-end: 75px;

            h2 {
            text-transform: uppercase;
            font-size: 40px;
            line-height: 48px;
            color: var(--clr-black);
            font-weight: 500;
        }
    }
}