header {

    .header-container {
        border-block-end: 1px solid rgba(63, 78, 101, 0.1);
        
    }

    .header-top, .header-bottom {
        max-inline-size: var(--max-width);
        margin-inline: auto;
        display: grid;
    }

    .header-top {
        grid-template-columns: max-content max-content 1fr;
        column-gap: clamp(1rem, 2.5vw, 2.5rem);
        padding-block: 14px;
        align-items: center;
    }

    .header-bottom {
        align-items: center;
        grid-auto-flow: column;
        justify-items: center;
        block-size: 109px;


        input {
            block-size: 100%;
            border-radius: 79px;
            border: none;
            background-color: var(--clr-grey);
            padding-inline-start: 20px;
            inline-size: clamp(6rem, 18.78vw, 16.437rem);
        }
    }
}

@media only screen and (max-width: 50em){
    header {
        .header-top{
            grid-template-columns: max-content 1fr max-content;
            padding-block: 10px;
            padding-inline: 15px;
            height: 70px;
        }


        .header-bottom {
            grid-template-columns: repeat(2, 1fr);
            block-size: 41px;

            
          
        }
    }
}