.footer{
    background-color: var(--clr-dark-blue);

    .container{
        max-inline-size: var(--max-width);
        margin-inline: auto;
        padding-block-start: 71px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}