@import '../../../styles/mixins';

.download {
    @include primary-button;
    border-radius: 79px;
    font-size: clamp(0.6rem, 1vw, 0.875rem);
    font-weight: 700;
    column-gap: 12px;
    inline-size: clamp(149px, 14.3vw, 12.5rem);
    aspect-ratio: 200/59;

    & svg {
        inline-size: 17px;
        aspect-ratio: 1/1;
        fill: var(--clr-white);
    }
}

.download-white {
    @include primary-button;
    background-color: var(--clr-white);
    border-radius: 10px;
    color: var(--clr-dark-blue);
    inline-size: 186px;
    block-size: 100%;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);

    & svg {
        inline-size: 17px;
        aspect-ratio: 1/1;
        fill: black;
    }
}