.item {
    display: grid;
    block-size: 291px;
    grid-template-columns: 281px 480px repeat(3, 1fr);
    padding-block: 50px;
    align-items: center;
    border-block-end: 1px dashed var(--clr-dark-blue);

    img {
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 281/191;
        object-fit: contain;
        justify-self: center;
    }

    .text {
        align-self: flex-start;
        padding-inline-end: 30px;

        .volume {
            display: flex;
            column-gap: 5px;

            svg {
                inline-size: 15px;
                block-size: 15px;
            }
        }

        .mainTitle {
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
            block-size: 72px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .description {
            block-size: 82px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }


    .counter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        block-size: 23px;
        inline-size: 113px;
        text-align: center;
        align-items: center;

        button {
            padding: 4px 14px;
            background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
            border: none;
            border-radius: 80px;
        }
    }
}
