@import '../../../styles/mixins';

.article {
    block-size: 490px;
    display: grid;
    grid-template-rows: 240px max-content;
    justify-items: center;
    font-size: 14px;
    padding-inline: 15px;
    padding-block: 29px;
    border-radius: 10px;
    background-color: var(--clr-white);
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    .image {
        display: grid;
        inline-size: 100%;
        grid-template-rows: max-content 194px 1fr;


        & > p:first-child {
            inline-size: 96px;
            text-align: center;
            color: var(--clr-white);
            letter-spacing: 0.045em;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            padding: 8px 12px;
            border-radius: 5px;
            background-color: green;
        }


        & > div {
            display: flex;
            justify-self: flex-start;

            p {
                svg {
                    block-size: 16px;
                    inline-size: 16px;
                }
            }
        }

        img {
            max-block-size: 100%;
            inline-size: auto;
            justify-self: center;
        }
    }


    & > a {
        font-size: 16px;
        font-weight: 500;
        color: var(--clr-black);

        span {
            font-weight: 800;
        }
    }

    .details {
        padding-block: 15px 15px;
        justify-self: flex-start;
        display: grid;
        row-gap: 5px;

        & > p {
            font-size: 14px;
            font-weight: 300;
            color: var(--clr-dark-blue);

            span {
                font-weight: 500;
                color: var(--clr-black);
            }
        }
    }

    .price {
        display: flex;
        inline-size: 100%;
        justify-content: space-between;
        align-items: center;

        & > p {
            font-size: 16px;
            font-weight: 800;
        }
    }
}